.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: system-ui, sans-serif;
    color: white;
    background-color: #242424;
    min-height: 100vh;
}


body {
    margin: 0;
    padding: 0;
}

.inputTask {
    background-color: #A2D5C6;
    color: #1a1a1a;
    border-radius: 10px;
}

.inputSection {
    display: flex;
    margin: 10px;
    background-color: #242424;
    width: 270px;
    justify-content: space-between;
}

.header {
    font-size: 2rem;
    padding: 10px;
    text-shadow: 5px 5px 10px black;
    background-color: #1a1a1a;
    border-radius: 10px;
    text-shadow: 3px 3px 5px aqua;

}

.taskList {
    padding: 0px;
    list-style: none;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.taskItem {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.crash {
    animation: crashAnimation 1s ease-in-out 0s 1 normal running;
}

.edit {

    animation: editRotateAnimation 0.5s ease 0s 1 normal running;
}

.save {
    animation: saveAnimation 1s ease-in-out 0s 1 normal running;

}

.inputEdit {
    background-color: #A2D5C6;
    color: #1a1a1a;
    border-radius: 10px;
}

@keyframes crashAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes editRotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

@keyframes saveAnimation {
    0% {
        transform: scale(1);

        background-color: #1a1a1a;
    }

    50% {
        transform: scale(1.2);
        background-color: green;
        box-shadow: 0 0 15px greenyellow;
    }

    100% {
        transform: scale(1);
        background-color: #1a1a1a;
    }
}