.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: system-ui, sans-serif;
    color: white;
    background-color: #242424;
    min-height: 100vh;
}


body {
    margin: 0;
    padding: 0;
}

.inputSection {
    display: flex;
    margin: 10px;
    background-color: #242424;
    width: 270px;
    justify-content: space-between;
}

.header {
    font-size: 2rem;
    border-style: dashed;
    padding: 10px;
    text-shadow: 5px 5px 10px black;
    border-color: B6B09F;

}

.taskList {
    padding: 0px;
    list-style: none;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.taskItem {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}